In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(
    {
        'text': [
            "people watch tv",
            "people watch people",
            "people write comments",
            "comment write people"
        ],
        'output':[1, 1, 0, 0]
    }
)

df

                    text  output
0        people watch tv       1
1    people watch people       1
2  people write comments       0
3   comment write people       0

In [3]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer()

In [5]:
# Tf-idf
tf_idf = tfidf.fit_transform(df['text']).toarray()
tf_idf

array([[0.        , 0.        , 0.37919167, 0.72664149, 0.5728925 ,
        0.        ],
       [0.        , 0.        , 0.7979221 , 0.        , 0.60276058,
        0.        ],
       [0.        , 0.72664149, 0.37919167, 0.        , 0.        ,
        0.5728925 ],
       [0.72664149, 0.        , 0.37919167, 0.        , 0.        ,
        0.5728925 ]])

In [6]:
tfidf.idf_

array([1.91629073, 1.91629073, 1.        , 1.91629073, 1.51082562,
       1.51082562])

In [7]:
tfidf.get_feature_names_out()

array(['comment', 'comments', 'people', 'tv', 'watch', 'write'],
      dtype=object)