In [9]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv("https://raw.githubusercontent.com/Karthik-Bhaskar/Sentiment-Analysis/refs/heads/master/processed.csv")
df = df.drop(columns=['Unnamed: 0'])

df.sample(3)

                                                  review  sentiment
46670  first saw movie without know anything knew joe...          1
3042   series continue frustrate annoy go drag anothe...          0
15745  ravage wasteland future mankind terrorize cybo...          0

In [11]:
review = df['review'][3]
review

'basically there family little boy jake think there zombie closet parent fight timethis movie slow soap opera suddenly jake decides become rambo kill zombieok first youre go make film must decide thriller drama drama movie watchable parent divorce argue like real life jake closet totally ruin film expect see boogeyman similar movie instead watch drama meaningless thriller spot well play parent descent dialog shot jake ignore'

In [12]:
import re

def remove_html_tags(text):
    pattern = re.compile('<.*?>')
    return pattern.sub(r'', text)

In [13]:
text = '''
<p>NLP tokenizes, cleans, and embeds text so we can compare meanings across differently worded questions.</p> <p>Similar questions are clustered together to improve search, reduce duplicates, and boost engagement.</p>
'''

clean_text = remove_html_tags(text)

print(clean_text)

NLP tokenizes, cleans, and embeds text so we can compare meanings across differently worded questions. Similar questions are clustered together to improve search, reduce duplicates, and boost engagement.

In [14]:
df['review'] = df['review'].apply(remove_html_tags)
df.head()

                                              review  sentiment
0  one reviewer mention watch oz episode youll ho...          1
1  wonderful little production film technique una...          1
2  thought wonderful way spend time hot summer we...          1
3  basically there family little boy jake think t...          0
4  petter matteis love time money visually stun f...          1