In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/Karthik-Bhaskar/Sentiment-Analysis/refs/heads/master/processed.csv")
df = df.drop(df.columns[0], axis=1)

df.sample(2)

                                                  review  sentiment
13662  wish would read review opinion movie rent wast...          0
9787   film florida national guard site tigerland tot...          1

In [3]:
review = df['review'][3]
review

'basically there family little boy jake think there zombie closet parent fight timethis movie slow soap opera suddenly jake decides become rambo kill zombieok first youre go make film must decide thriller drama drama movie watchable parent divorce argue like real life jake closet totally ruin film expect see boogeyman similar movie instead watch drama meaningless thriller spot well play parent descent dialog shot jake ignore'

In [4]:
review = df['review'][3].lower()
review

'basically there family little boy jake think there zombie closet parent fight timethis movie slow soap opera suddenly jake decides become rambo kill zombieok first youre go make film must decide thriller drama drama movie watchable parent divorce argue like real life jake closet totally ruin film expect see boogeyman similar movie instead watch drama meaningless thriller spot well play parent descent dialog shot jake ignore'

In [5]:
df['review'] = df['review'].str.lower()
df.head()

                                              review  sentiment
0  one reviewer mention watch oz episode youll ho...          1
1  wonderful little production film technique una...          1
2  thought wonderful way spend time hot summer we...          1
3  basically there family little boy jake think t...          0
4  petter matteis love time money visually stun f...          1