In [19]:
import string, time

In [20]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [21]:
exclude = string.punctuation

In [22]:
def remove_punc1(text):
    for char in exclude:
        text = text.replace(char, '')
    return text

In [23]:
sample_text = """
Hello! How are you doing today? I hope everything's fine: let's test all punctuation marks.  
Here they are: !"#$%&'()*+,-./:;<=>?@[\]^_`{|}~  
Make sure each one is included in your text for processing.
"""

In [24]:
start_time = time.time()

print(remove_punc(sample_text))

end_time1 = time.time() - start_time
print(end_time1 * 50000)

Hello How are you doing today I hope everythings fine lets test all punctuation marks
Here they are
Make sure each one is included in your text for processing

50.09174346923828

In [25]:
sample_text = """
Hello! How are you doing today? I hope everything's fine: let's test all punctuation marks.  
Here they are: !"#$%&'()*+,-./:;<=>?@[\]^_`{|}~  
Make sure each one is included in your text for processing.
"""

In [26]:
def remove_punc2(text):
    return text.translate(str.maketrans('', '', exclude))

In [27]:
start_time = time.time()

print(remove_punc(sample_text))

end_time2 = time.time() - start_time
print(end_time2 * 50000)

Hello How are you doing today I hope everythings fine lets test all punctuation marks
Here they are
Make sure each one is included in your text for processing

50.15134811401367

In [28]:
end_time1 / end_time2

0.9988115046351319

In [29]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/JeninaAngelin/Sentiment-Analysis-for-Hate-Speech-Detection/refs/heads/main/train_E6oV3lV.csv")
df.sample(3)

          id  label                                              tweet
14805  14806      0  good nightð #ã»ã¼ã©ã¼ã ã¼ã³ #ã»ã¼ã...
21224  21225      0  so orange is the new black has released all 13...
11807  11808      0  #yay #pb today for this #year #150kg #deadlift...

In [30]:
def remove_punc2(text):
    return text.translate(str.maketrans('', '', exclude))

In [32]:
df['tweet'] = df['tweet'].apply(remove_punc2)
df.sample(5)

          id  label                                              tweet
8986    8987      0  aol has 42 stories in its newsfeed and not 1 i...
23506  23507      0   user prayers to victims of the senseless act ...
17591  17592      0                user user ok we are so cool hyung
999     1000      0   user next chapter in life stas soon looking a...
24478  24479      0  let me guess the bon voyage thing is on vlive ...